<%- contentFor('body') %>
<h2>Pedidos</h2>
<table class="table table-striped table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <th>Numero do Pedido</th>
            <th>Data do Pedido</th>
            <th>Status</th>
            <th>Cliente</th>
            <th>Endereco de Entrega</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
<% if(!(typeof retorno == "undefined")) { %>
        <% for(pedido of retorno) { 
            
        %>
        <tr>
            <td>
                <%= pedido.numeropedido %>
            </td>
            <td>
                <%= pedido.datapedido %>
            </td>
            <td>
                <%= pedido.statuspedido %>
            </td>
            <td>
                <%= pedido.clienteId %>
            </td>
            <td>
                <%= pedido.enderecoId %>
            </td>
            <td> - </td>
        </tr>
        <% } %>
<% } %>
    </tbody>
</table>
